*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
}

.board{
    width: 100%;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    padding: 10px ;
    gap: 1rem;
    justify-content: space-evenly;
    text-align: center;
}

.card{
    max-width: 600px;
}
.card img{
    width: 100%;
    max-width: 500px;
    height: 300px;
}
.title{
    text-align: center;
    color: blue;
  
    margin-bottom: 30px;
    border-bottom: 2px solid yellow;
    padding: 30px 10px;
}
.about{
    max-width: 500px;
    display: block;
    margin-bottom: 100px;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
}
.members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.cardMember{
    width: 40%;
    height: auto;
}
.cardMember img{
    width: 100%;
    min-height: 90%;
}
.cardMember h1,.cardMember h2,.cardMember p{
    background-color: brown;
}